* {
    background-color: #e2d5e6;
}

.container {
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    border: 1px solid #808080;
    flex-direction: column;
    margin: 2% 0 0 29%;
    border-radius: 7px;
}

.image {
    width: 21%;
    height: 120px;
}

.form {
    width: 77%;
    height: 100px;
    border: 1px solid #808080;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.inputField {
    width: 68%;
    height: 40px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #808080;
    margin-right: 30px;
    font-weight: bold;
    font-size: 17px;
    color: #000000;
}

.addTodo {
    width: 20%;
    height: 45px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #808080;
    background-color: #d387ab;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
}

.todoList {
    width: 67%;
    height: 40px;
    border: 1px solid #808080;
    list-style-type: none;
    color: #000000;
    display: flex;
    justify-content: space-between;
}

.text {
    margin-top: 8px;
    font-size: 18px;
}

.edit {
    width: 60px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #808080;
    background-color: #d387ab;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    margin-top: 2px;
    margin-right: 7px;
}

.deleteButton {
    width: 70px;
    height: 36px;
    border-radius: 6px;
    outline: none;
    border: 1px solid #808080;
    background-color: #d387ab;
    font-weight: bold;
    font-size: 17px;
    color: #ffffff;
    margin-top: 2px;
}